.container {
  max-width: 800px;
  margin: auto;
}

.toolbar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.image-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

.additional-info {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.additional-info h4 {
  margin-bottom: 10px;
}

.additional-info p {
  margin-bottom: 0;
  color: #555;
}

.title-toolbar {
  font-size: 16px;
  font-weight: bold;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}