/* Set background color for the entire container */
body {
  background-color: #EFEFF3;
}

.container {
  background-color: #EFEFF3;
  /* Light gray background to match the image */
}

.header-promotion {
  font-size: 16px;
  font-weight: bold;
}

.card {
  max-width: 100%;
  /* Ensure the card does not exceed the container width */
  margin: auto;
  /* Center the card */
}

/* Image styling */
.card-img-top {
  width: 100%;
  height: auto;
  max-height: 300px;
  /* Adjust as needed */
  object-fit: cover;
  /* Maintain aspect ratio and cover the area */
  border-top-left-radius: 6px !important;
  /* Adjust the radius as needed */
  border-top-right-radius: 6px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  /* Adjust the radius as needed */
}


/* Card title styling */
.card-title {
  font-size: 16px;
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflow */
  text-overflow: ellipsis;
  /* Add ellipsis at the end of the text */
  margin-bottom: 8px;
}

/* Card text styling */
.card-text {
  font-size: 14px;
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflow */
  text-overflow: ellipsis;
  /* Add ellipsis at the end of the text */
}

/* Button styling */
.btn-warning {
  border-radius: 5px;
  /* Rounded button corners */
  font-size: 14px;
  /* Adjust font size */
}

.text-left {
  text-align: left !important;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 0 auto;
  /* Adjust spacing between cards */
}

.badge-new {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.card-category {
  flex: 0 0 auto;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  border-radius: 30px;
}

.card-category.active {
  background-color: #FFC600;
}

.card-body {
  padding-left: 10px;
  padding-right: 10px;
}

.card-title-category {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-category {
  animation: slideIn 0.3s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  /* Start with hidden */
}

.card-category:nth-child(1) {
  animation-delay: 0.1s;
}

.card-category:nth-child(2) {
  animation-delay: 0.2s;
}

.card-category:nth-child(3) {
  animation-delay: 0.3s;
}

.card-category:nth-child(4) {
  animation-delay: 0.4s;
}

.btn .fa-heart.active {
  color: #FFC600;
}


.fade-appear,
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}

.fade-appear-active,
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.fade-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 500ms, transform 500ms;
}

.special-scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  background-color: #f8f9fa; /* Light background color */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.special-scrolling-wrapper::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, and Opera */
}

.special-card {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 200px; /* Adjust the width as needed */
}