.container {
  max-width: 800px;
  margin: auto;
}

.toolbar {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.image-container {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  border-radius: 10px;
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

.additional-info {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.additional-info h4 {
  margin-bottom: 10px;
}

.additional-info p {
  margin-bottom: 0;
  color: #555;
}